# List

In [1]:
cities = ["Atlanta", "Baltimore", "Chicago", "Denver", "Los Angeles", "Seattle"]

In [2]:
cities[3]

'Denver'

In [3]:
cities[-2]

'Los Angeles'

In [4]:
cities.append("New York")
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'New York']

In [5]:
cities.insert(3, "Montreal")
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Montreal',
 'Denver',
 'Los Angeles',
 'Seattle',
 'New York']

In [6]:
len(cities)

8

In [7]:
cities = cities + ["Dubuque", "New Orleans"]
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Montreal',
 'Denver',
 'Los Angeles',
 'Seattle',
 'New York',
 'Dubuque',
 'New Orleans']

In [8]:
cities.insert(20, "Karachi")

In [9]:
cities[3:7]

['Montreal', 'Denver', 'Los Angeles', 'Seattle']

In [10]:
#del cities[3]
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Montreal',
 'Denver',
 'Los Angeles',
 'Seattle',
 'New York',
 'Dubuque',
 'New Orleans',
 'Karachi']

In [11]:
for city in cities:
    print("My city is", city)

My city is Atlanta
My city is Baltimore
My city is Chicago
My city is Montreal
My city is Denver
My city is Los Angeles
My city is Seattle
My city is New York
My city is Dubuque
My city is New Orleans
My city is Karachi

In [12]:
l = list(range(0, 101))
l[5:20:2]

[5, 7, 9, 11, 13, 15, 17, 19]

In [13]:
len(l[::-1])

101

In [14]:
l.reverse()

In [15]:
l2=l[5:11]
l2

[95, 94, 93, 92, 91, 90]

In [16]:
l3 = l2
l3[0] = 1000
l2

[1000, 94, 93, 92, 91, 90]

In [17]:
l4 = l3.copy()
l4[0] = 4000
l3

[1000, 94, 93, 92, 91, 90]

In [18]:
l5 = l4[:]
l5[0]=5000
l4

[4000, 94, 93, 92, 91, 90]

In [19]:
l[90:]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [20]:
l[:5]

[100, 99, 98, 97, 96]

In [21]:
cities[::2]

['Atlanta', 'Chicago', 'Denver', 'Seattle', 'Dubuque', 'Karachi']

In [22]:
print(l[1::2])

[99, 97, 95, 93, 91, 89, 87, 85, 83, 81, 79, 77, 75, 73, 71, 69, 67, 65, 63, 61, 59, 57, 55, 53, 51, 49, 47, 45, 43, 41, 39, 37, 35, 33, 31, 29, 27, 25, 23, 21, 19, 17, 15, 13, 11, 9, 7, 5, 3, 1]

In [23]:
print(l[::2])

[100, 98, 96, 94, 92, 90, 88, 86, 84, 82, 80, 78, 76, 74, 72, 70, 68, 66, 64, 62, 60, 58, 56, 54, 52, 50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2, 0]

In [24]:
l[10:10]

[]

# List: Taking Slices out of them

In [25]:
cities.remove("Karachi")
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Montreal',
 'Denver',
 'Los Angeles',
 'Seattle',
 'New York',
 'Dubuque',
 'New Orleans']

In [37]:
citiesDel = list()
citiesDel.append(cities.pop())
cities

[]

In [38]:
cities = citiesDel.copy()

In [42]:
cities = ['Atlanta',
 'Baltimore',
 'Chicago',
 'Montreal',
 'Denver',
 'Los Angeles',
 'Seattle',
 'New York',
 'Dubuque',
 'New Orleans']